<!-- <mat-grid-list cols="4">
<ng-container *ngFor="let item of suggestionsFilteredList; let i = index"> -->
<mat-grid-list cols=4 rowHeight="400px" gutterSize="25px" class="grid-layout-custom">
  <mat-grid-tile *ngFor="let item of suggestionsFilteredList" class="mat-grid-tile-custom">
<!-- {{ item.source + ' is ' + item.price }} <br /> -->

<mat-card class="example-card mat-elevation-z2">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ item.name | titlecase}}</mat-card-title>
    <mat-card-subtitle> Prod ID: {{ item.prodNum }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="item.url" alt="Photo of a Shiba Inu" width="150" height="150">
  <mat-card-content>
  <div class="ratePrice">
    <p>
      Rating: {{ item.rating }}/5
      </p>
      <p>
      Price:  {{ item.price | currency:"USD":"symbol" }}
    </p>
    </div>
    <div class="forCat">
    <div>
      For: {{ item.giftFor }}
      </div>
      <div>
      Category:  {{ item.category }}
    </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>{{ item.produrl }}</button>
  <!--   <button mat-button>SHARE</button> -->
  </mat-card-actions>
</mat-card>

</mat-grid-tile>
</mat-grid-list>
<!-- </ng-container> -->

